<div id="<%= dom_id question %>">
  <p>
    <strong>Question:</strong>
    <%= question.question %>
  </p>
  <p>
    <strong>Answer:</strong>
    <%= question.answer %>
  </p>
  <p>
    <strong>Category:</strong>
    <%= question.category %>
  </p>
  <p>
    <strong>Level:</strong>
    <%= question.level %>
  </p>
</div>

