

<% @questions.map do |question| %>
  <div class="row">
    <div class="col-12 col-lg-6 mx-auto">
      <div class="flash-card mt-5 pb-5" id="flash-card" >
        <div class="front">
          <div class="card text-center p-3">
            <div class="card-body">
              <h5 class="card-title">Flashcard</h5>
              <% if question.category == "Ruby"  %>
              <h6 class="card-subtitle mb-2 text-muted">
                <%= image_tag 'rubi.svg', class: "svg-image" %>
                Ruby on rails -
                <%= question.level %> developer
              </h6>
              <% else %>
                <h6 class="card-subtitle mb-2 text-muted">
                  <%= image_tag 'js.svg', class: "svg-image" %>
                  Javascript -
                  <%= question.level %> developer
                </h6>
              <% end %>
              <p class="card-text"><%= question.question %></p>
              <div class="col-6 mx-auto p-1 anywhere-button">
                Click anywhere to flip
              </div>
            </div>
          </div>
        </div>
        <div class="back">
          <div class="card">
            <div class="card-body">
              <div class="col-6 mx-auto p-1 text-center anywhere-button">
                Click anywhere to flip back
              </div>
              <p class="card-text"><%= question.answer %></p>
              <div class="pagination-section p-5">
                <%= pagy_bootstrap_nav(@pagy).html_safe %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<style>
  .pagination-section .pagination {
    justify-content: center!important;
    /*aligns pagy*/
  }
</style>

<script>
  var card = document.getElementById("flash-card")

  card.addEventListener("click", flipCard);

  function flipCard() {
    card.classList.toggle("flipCard");

  }
</script>
