<!DOCTYPE html>
<html>
  <head>
    <title>RubyInterview</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <div class="container">
      <%= yield %>
    </div>
   <!--  <footer class="p-5" style="word-break: break-word; position: fixed; bottom: 0;">
      <p>watch later: <br>https://www.youtube.com/watch?v=PtxZvFnL2i0&t=1287s</p>
      <p>Questions and answers sources:</p><br>
      <p>https://www.testgorilla.com/blog/ruby-on-rails-interview-questions/?utm_term=&utm_campaign=Performance_Max_UK&utm_source=adwords&utm_medium=ppc&hsa_acc=4932434860&hsa_cam=13377004217&hsa_grp=&hsa_ad=&hsa_src=x&hsa_tgt=&hsa_kw=&hsa_mt=&hsa_net=adwords&hsa_ver=3&gclid=Cj0KCQjwntCVBhDdARIsAMEwACmdNIXpKIqAyd-D5f2sx_EXR5f4F9B3dU_QQPtn_dbt47l7cuCouPcaAnbYEALw_wcB</p>
      <p>https://www.devteam.space/hiring-interview-tips/ruby-on-rails-interview-questions-and-answers/</p>
    </footer> -->

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
                     <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/5.0.0/js/bootstrap.min.js"></script>
  </body>
</html>


